body {
    font-family: 'Montserrat', sans-serif;
    margin-right: 10em;
    margin-left: 10em;
    text-align: center;
}

nav {
    padding: 2em;
    border-bottom: solid thin black;
}

.main {
    margin-top: 2em;
}

.plant-text,
.new-plant,
.main,
form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.plant,
.new-plant {
    width: 12em;
}

.plant-text>h2 {
    width: 100%;
}

button,
input {
    padding: 1em;
    border-radius: 5em;
    border: solid thin gray;
}

input, button {
    margin: 1em;
}

input {
    background-color: #f2fef5;
}

label {
    font-size: 1.17em;
    font-weight: bold;
}